body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e0f7fa; 
}

.weather-container {
    text-align: center;
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333; 
}

#icon img {
    width: 100px;
    height: 100px;
}


.weather-container.clear {
    background-color: #87CEEB; 
}

.weather-container.clouds {
    background-color: #A9A9A9; 
}

.weather-container.rain {
    background-color: #4682B4; 
}



#getWeatherButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#getWeatherButton:hover {
    background-color: #45a049; 
}


#cityInput {
    padding: 10px;
    font-size: 16px;
    width: 200px; 
    margin-right: 10px;
}

#downloadAppButton {
    position: absolute;
    top: 10px; 
    right: 10px; 
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#downloadAppButton:hover {
    background-color: #2980b9; 
}