*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

#header{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0.5%; 
    background-size: 45%;
    width:100%;
    height: 100vh;
    background-image: url(images/background1.gif) 
}

.navbar{
    display: flex;
    justify-content:center;
    align-items: center;
    position: sticky;
    top: 0;
}

.navbar ul{
    display:flex;
    list-style:none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 12px;
}

.header-text{
    color: white;
    margin-top: 26%;
    margin-left: 65%;
    font-size: 20px;

}

.header-text h1{
    font-size: 35px;
    margin-top: 20px;
   color: #daa520;
}

.music-col{
    float: left;
    margin-left: 5%;
    margin-top: -80px;
    display: flex;
    align-items: center;

}

#about{
    padding: 80px 0;
    color: #ABABAB;
}

.row{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 30%;
}

.about-col-1 img{
    width: 90%;
    border-radius: 10px;
}

.about-col-2{
    flex-basis: 30%;
}

.abtme{
    text-align: left;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #800080;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}

.tab-contents ul li span{
    color: #8b008b;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

#services{
    padding: 30px 0;
    color: white;
}

.abtme1{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    
}

.services-list div{
   background: #262626;
   padding: 50px;
   font-size: 17px;
   font-weight: 150;
   border-radius: 40px;
   transition:0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 30px;
    margin-bottom: 20px;

}

.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background-color: #8a2be2;
    transform: translateY(-15px);
    color: white;
    box-shadow: 0 0 5px;

}

#contact{
    font-size: larger;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 70px;
}

.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin:20px 0;
}

.input{
    padding:12px;
    margin:15px;
    width: 90%;
    outline: none;
}

#msg{
    width: 170%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

#send{
    padding: 10px;
    width: 40%;
    margin: 20px;
   border: none;
   outline: none;
    
}

#send:hover{
    cursor:pointer;
    box-shadow: 0 0 10px white;
}

.social-menu ul{
position: absolute;
right: 35%;
padding: 10px;
margin: 0px;
transform: translate(-50% -50%);
display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    
}

.social-menu ul li .fab:hover{
    color: black;
}


.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #1877F2;
}

.social-menu ul li:nth-child(2) a:hover{
    background-color: #1DA1F2;
}

.social-menu ul li:nth-child(3) a:hover{
    background-color: #E4405F;
}

.social-menu ul li:nth-child(4) a:hover{
    background-color: #5865f2;
}

.self{
   text-align: right;
   padding: 30px;
   font-style: italic;
   font-family: papyrus;
   
}

.button1 {
	display: flex;
	height: 50px;
	padding: 0;
    margin-top: -70px;
	background: #9400d3;
	border: none;
	outline: none;
	border-radius: 5px;
	overflow: hidden;
	font-family: "Quicksand", sans-serif;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

.button1:hover {
	background: #008168;
}

.button1:active {
	background: #006e58;
}

.button__text,
.button__icon {
	display: inline-flex;
	align-items: center;
	padding: 0 24px;
	color: #fff;
	height: 100%;
}

.button__icon {
	font-size: 1.5em;
	background: rgba(0, 0, 0, 0.08);
}

.download-cv {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.download-cv:hover {
    background-color: #2980b9;
}







@media only screen and (max-width:600px){
    #header{
        background-repeat: no-repeat;
        background-attachment: fixed;
       background-position: 65% 95%;
        background-size: 150%;
        width:100%;
        height: 100vh;
        background-image: url(images/background1.gif);
    }
    .header-text{
        margin-top: 30%;
        margin-left: 70%;
        font-size: 10px;
    }
     .header-text h1{
        font-size: 30px;
     }
     navbar ul li {
        font-size: 12px; /* Adjust the font size as needed */
        line-height: 1.5; /* Set an appropriate line height */
        padding: 5px 0; /* Adjust padding as needed */
    }
    .about-col-1 img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 120%;
    }
    .about-col-2{
        text-align: center;
    }

    .music-col{
        float: right;
        margin-left: 70%;
        margin-top:  150px;
        display: flex;
        align-items: center;
    }

    .music-col p{
        font-size: 12px;
        color: silver;
        font-weight: 200;
    }
    
    #icon{
        width:30px;
        cursor: pointer;
    }








    .tab-titles{
        display: flex;
        margin: 50px 0 40px;
        margin-left: 10%;
    }

    .abtme{
        text-align: center;
        padding: 10px;
    }
    .services-list div{
    padding: 50px;
    display: block;
        margin-left: 20px;
        margin-right: 20px;
    font-size: 17px;
    font-weight: 150;
     border-radius: 40px;
     transition:0.5s, transform 0.5s;
    }
    .social-menu ul{
        position: absolute;
        right: 5%;
        left: 5%;
        padding: 10px;
        margin: 0px;
        transform: translate(-50% -50%);
        display: flex;
        }

        .self{
            font-size: small;
            margin-right: 15px;
            padding: 90px;
            font-style: italic;
            font-family: papyrus;
            }

            .input{
                padding: -10px;
                display: block;
                margin-left: auto;
                margin-right: auto;
             text-align: center;
            }
                
            #msg{
            width: 80%;
            padding: 5px;
            margin: 20px;
            display: block;
            width: 120%;
            text-align: center;
            }

            #send{
               
                width: 40%;
                display: block;
                margin-left: auto;
                margin-right: auto;  
               border: none;
               outline: none;
                
            }
            .button1 {
                display: flex;
                height: 30px;
                padding: 0;
                align-items: center;
                margin-left: 90px;
                background: #9400d3;
                border: none;
                outline: none;
                border-radius: 5px;
                overflow: hidden;
                font-family: "Quicksand", sans-serif;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
            }
            
            .button1:hover {
                background: #008168;
            }
            
            .button1:active {
                background: #006e58;
            }
            
            .button__text,
            .button__icon {
                display: inline-flex;
                align-items: center;
                padding: 0 16px;
                color: #fff;
                height: 100%;
            }
            
            .button__icon {
                font-size: 1.5em;
                background: rgba(0, 0, 0, 0.08);
            }
            
            .download-cv {
                background-color: #3498db;
                color: #fff;
                padding: 8px 12px;
                text-decoration: none;
                border-radius: 5px;
                font-weight: bold;
                display: inline-block; 
            }
            
            .download-cv:hover {
                background-color: #2980b9;
            }
            




}
